
.pages {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.pages span {
    font-size: 25px;
    margin: 5px;
    cursor: pointer;
}

.selectPage {
    font-weight: 900;
    color: yellow;
}

.pages .paginatorBtn {
    border: 1px solid chartreuse;
    padding: 0 5px;
    margin: 0 10px;
}