.avatarContainer {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid yellow;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: 100%;
    border-radius: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.fileInput {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.uploadLabel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 5px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profile {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.profile p, .status {
    margin: 8px;
    white-space: pre-wrap;
    word-break: break-all;
}

.profile input {
    margin: 0 8px;
    font-size: 18px;
}

.top_img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 3px solid chartreuse;
    border-radius: 10px 10px 0 0;
}

.info {
    font-size: 18px;
    font-weight: 600;
    width: 530px;
}

.name {
    font-size: 24px;
}

.lookJob {
    padding-top: 15px;
}

.about, .jobDescription, .status {
    color: yellow;
}

.links {
    width: 200px;
    display: flex;
    flex-wrap: wrap;
}

.contact {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.facebook {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_Colored_Facebook3_svg_5365678.svg');
}

.website {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_simpline_47_2305615.svg');
}

.vk {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_vkontakte_386743.svg');
}

.twitter {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_twitter_317720.svg');
}

.instagram {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_Instagram_1298747.svg');
}

.github {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_71-github_4202098.svg');
}

.youtube {
    background: center / contain no-repeat url('../../../assets/images/iconfinder_1_Youtube_colored_svg_5296521.svg');
}