.avatar {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    border: 3px solid yellow;
    box-sizing: border-box;
}

.profile {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.profile p, .status {
    margin: 8px;
}

.profile input {
    margin: 0 8px;
    font-size: 18px;
}

.top_img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-bottom: 3px solid chartreuse;
    border-radius: 10px 10px 0 0;
}

.info {
    font-size: 18px;
    font-weight: 600;
    width: 530px;
}

.name {
    font-size: 24px;
}

.lookJob {
    padding-top: 15px;
}

.about, .jobDescription, .status {
    color: yellow;
}

.links {
    width: 200px;
}