.dialogs {
    display: flex;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
}

.dialogsItems {
    padding: 15px;
    width: 20%;
    border-right: 2px solid chartreuse;

}

.messages {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.active {
    color: yellow;
    font-weight: 900;
}

.newMessage {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    padding: 10px 60px 10px 10px;
    border: none;
    border-top: 2px solid yellow;
    background: #444;
    color: yellow;
    font-weight: 600;
    font-size: 18px;
    resize: none;
    border-radius: 0 0 10px 0;
}

.newMessage:focus {
    outline: none;
}

.dialogMessages {
    width: 80%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sendBtn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    bottom: 10px;
    right: 5px;
    padding: 10px;
    font-size: 25px;
    background: #222;
    border: 2px solid yellow;
}

.sendBtn:hover {
    cursor: pointer;
}